*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(4, 99, 136) , rgb(90, 225, 225));
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(255, 255, 255);
    margin: 100px auto 20px;
    padding: 40px 25px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: blue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
    border-radius: 3px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(198, 198, 198);
    border-radius: 7px;
    padding-left: 20px;
    margin-bottom: 15px; 

}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
   
}
.row button{
    border: none;
    outline: none;
    background: orange;
    padding: 9px 30px;
    border-radius: 5px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 16px 8px 10px 45px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;  
    height: 28px; 
    border-radius: 50%;
    background-image: url("unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    text-decoration: line-through;
    

}
ul li.checked::before{
    background-image: url("checked.png");
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background:rgb(182, 174, 174);
}